<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="address" class="com.spring.Address">
		<property name="dNo" value="21" />
		<property name="village" value="Narayanapuram" />
		<property name="district" value="Hyderabad" />
	</bean>
	<bean id="employee" class="com.spring.Employee">
		<property name="empId" value="1098"/>
		<property name="empName" value="Kilaparthi Ramu"/>
		<property name="address" ref="address"/>
	</bean>
</beans>